<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table id="posts" class="table table-hover table-bordered">
  <thead class="table-info text-center">
    <tr>
      <th style="width: 40%">Title</th>
      <th style="width: 40%">Content</th>
      <th style="width: 20%" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody class="align-middle text-center">
    <%= render @posts %>
  </tbody>
</table>

<br>
<div id="new-post">
  <%= link_to 'New Post', new_post_path, remote: true %>
</div>
